version: '3.8'

services:
  backend:
    build: .
    container_name: mentoriza-backend
    restart: unless-stopped
    networks:
      - coolify

    command: node dist/main.js

    # ou, se preferires usar o script do package.json:
    # command: npm run start:prod

    labels:
      - 'caddy=api.mentoriza.online'
      - 'caddy.reverse_proxy={{upstreams 3000}}'

networks:
  coolify:
    external: true
