version: '3.8'

services:
  backend:
    build: .
    container_name: mentoriza-backend
    restart: unless-stopped
    networks:
      - coolify

    command: npm run start:prod

    labels:
      - 'caddy=mentoriza.online'
      - 'caddy.reverse_proxy={{upstreams 3000}}'

networks:
  coolify:
    external: true
