version: '3.9'

services:
  rabbitmq:
    image: rabbitmq:4.2-management
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-guest}
    ports:
      - '5672:5672'
      - '15672:15672'
      - '5671:5671'
      - '25672:25672'
      - '4369:4369'
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:
